<div class="text-center">
{{#each posts }}
<div class="card">
  <h2>{{title}}</h2>
  <a href="/blogposts/{{id}}">Read More</a>
  <p>Created by {{User.username}} on {{format_date date_created}}</p>
  <div class ="card-body">{{postMessage}}
  </div>
</div>
{{/each}}
</div>
